@font-face {
    font-family: 'M Plus Rounded 1c';
    src: url('assets/fonts/MPLUSRounded1c-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
:root {
    font-family: Arial, sans-serif;
    font-size: 18px;
    --bg-secondary: #b7d9f7;
}
html body {
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
    background: #6649b8;
}
.navbar {
    width: 16rem;
    position: fixed;
    overflow: auto;
    height: 100%;
}
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.nav-item {
    padding-left: 2rem;
    margin: 0.5rem;
    width: 80%;
    background: var(--bg-secondary);
    border-radius: 25px;
}
.nav-item .icon {
    font-size: 2rem;
}
.nav-item:first-child {
    margin-top: 1rem;
}
.nav-item:last-child {
    margin-top: auto;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.nav-link {
    display: flex;
    align-items: center;
    height: 4.5rem;
    text-decoration: none;
    color: black
}
.link-text {
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;
}
.header {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    background: var(--bg-secondary);
    border-radius: 25px;
    justify-content: center;
}
.header-text * {
    padding: 0;
    margin: 0;
}
.page-body {
    display: flex;
    justify-content: center;
}
.page-body-content {
    max-width: 40rem;
}
.title {
    font-family: "M Plus Rounded 1c", serif;
    font-size: 32px;
}
.section-header {
    font-family: "M Plus Rounded 1c", serif;
}
.profile-picture {
    border-radius: 50%;
    height: 90px;
    margin-left: 4rem;
}
section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}
.about-paragraph {
    padding-bottom: 4%;
}
.button {
    background-color: #0079ad;
    border-radius: 8px;
    color: #ffffff;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
}
.button:hover {
    background: #056f9d;
}
.button-group {
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 1000px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
        padding-bottom: 1rem;
    }
    .navbar-nav {
        justify-content: center;
        flex-direction: row;
    }
    .link-text {
        display: none;
    }
    .nav-item {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 5rem;
    }
    .nav-item:last-child {
        display: none;
    }
    .narrow-screen-hidden {
        display: none
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1320px) {
    .navbar {
        width: 8rem;
    }
    .navbar-nav {
        justify-content: center;
    }
    .link-text {
        display: none;
    }
    .nav-item {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5rem;
    }
    .nav-item:last-child {
        display: none;
    }
}
